body{
    width: 100vw;
    display: grid;
    min-height: 100vh;
    overflow: hidden;
    place-items: center;
    font-family: 'Outfit', sans-serif;
}

.container{
    height: 50%;
}
.left-panel{
    float: left;
    width: 50%;
    height: 50vh;
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 15px;
    background: hsl(234, 85%, 45%);
    background: linear-gradient(0deg, hsl(234, 85%, 45%, 1) 40%, hsl(252, 100%, 67%, 1) 100%);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-panel{
    float: right;
    width: 50%;
    height: 50vh;
    padding: 15px;
    box-sizing: border-box;
    /* border: 1px solid #000; */
    border-left: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.result{
    border-radius: 50%;
    border: 1px solid blue;
    width: 120px;
    height: 120px;
    text-align: center;
    align-items: center;
    margin: auto;
    color: white;
    line-height: 1px;
    background: linear-gradient(180deg, hsl(234, 85%, 45%, 1) 40%, hsl(252, 100%, 67%, 1) 100%);
    position: relative;
}

#marks{
    font-size: 52px;
    font-weight: bold;
}

#grade{
    color: white;
    font-weight: bold;
}

.result-text{
    color: rgb(212, 206, 206);
    font-size: 12px;
}



.summary ul, li{
    height: 30px;
    border:none;
    border-radius: 10px;
    padding: 2px;
    position: relative;
    display: flex;
    list-style: none;
    font-size: 15px;
  align-items: center;
}

.summary div{
    display: flex;
  align-items: center;
  justify-content: right;
}

/* .marks_part{
    
} */

img{
    padding-left: 10px;
    padding-right: 10px;
}

.list_text{
  justify-content: left;
  width: 40vw;
}

#reaction{
    background-color: hsl(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
    text-align: right;
    padding: none;
}

#memory{
    background-color: hsl(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
    text-align: left;
}

#verbal{
    background-color: hsl(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
    text-align: left;
}

#visual{
    background-color:hsl(234, 85%, 45%, 0.1);
    color:hsl(234, 85%, 45%);
    text-align: left;
}

#total_summary{
    color: grey;
    text-align: end;
    font-size: 10px;
    justify-content: right;
    align-items: flex-end right;
}

#indv_marks{
    text-align: end;
    font-size: 10px;
    color: #000;
    font-weight: 900;
    justify-content: right;
    padding-left: 20px;
    align-items: flex-end right;
}

/* .marks_ratio{
    
} */

button{
    background: hsl(234, 85%, 45%);
    background: linear-gradient(0deg, hsl(234, 85%, 45%, 1) 40%, hsl(252, 100%, 67%, 1) 100%);
    color: white;
    border-radius: 15px;
    width: 100%;
    height: 30px;
    border: none;
}


