.container{
    height: 240px;
    width: 35%;
    background: #334255;
    border-radius: 5px;
    margin: 120px auto;
    padding: 20px;
}

#features-control{
    display: flex;
    align-items: flex-start;
    justify-items: center;
    margin-top: 20px;
}