:root{
   
--Orange: hsl(25, 97%, 53%);
--White: hsl(0, 0%, 100%);
--LightGrey: hsl(217, 12%, 63%);
--MediumGrey: hsl(216, 12%, 54%);
--DarkBlue: hsl(213, 19%, 18%);
--VeryDarkBlue: hsl(216, 12%, 1%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

.rating-card{
    height: 300px;
    width: 314px;
    margin: 120px auto;
    background: linear-gradient(var(--DarkBlue), var(--VeryDarkBlue));
    color: var(--White);
    border: none;
    border-radius: 22px;
    align-items: center;
    padding: 25px;
}

.star-box{
    background-color: var(--VeryDarkBlue);
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    margin-bottom: 20px;
}

.star-box img{
    padding: 12px;
}

.card-title{
    margin-bottom: 10px;
}

.card-desc{
    font-size: 14px;
    color: var(--LightGrey);
}

.rating{
    list-style: none;
    justify-content: center;
}

.nums > button{
    float: left;
    margin-top: 20px;
    margin-right: 22px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    font-size: 14px;
    background-color: var(--DarkBlue);
    color: var(--MediumGrey);
    text-decoration: solid;
}

.nums > button:hover{
    background-color: var(--Orange);
    color: white;
    cursor: pointer;
}

.submit{
    width: 314px;
    border-radius: 24px;
    align-items: center;
    padding: 15px 0px;
    font-size: 12px;
    border: none;
    margin-top: 20px;
    background-color: var(--Orange);
    color: white;
    letter-spacing: 2px;
}
.submit:hover{
    background-color: var(--White);
    color: var(--Orange);
    cursor: pointer;
}

.thank-you-card{
    display: none;
}