body{
    background-color: hsla(219, 80%, 82%, 0.8);
    text-align: center;
    align-items: center;
    position: relative;
}

img{
    max-width:100%;
    width: 90%;
    margin: 5% 5%;
    border-radius: 10px;
}
.container{
    position: absolute;
    top: 10%;
    left: 45%;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    
}

.text-area{
    text-align: center;
    margin: none;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

h5{
    color: hsl(218, 44%, 22%, 0.9);
    padding: 0px 20px;
    margin: 0px;
    font-weight: 700;
}

p{
    color: hsl(218, 44%, 22%, 0.5);
    font-size: 11px;
    padding: 0px 20px 20px 20px;
    font-weight: 400;
    /* font-weight: 100px; */
}