*{
    margin: 0;
    padding: 0;
}

body{
    background: #0D1A2D;
    font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}

section{
    height: 500px;
    width: 300px;
    background: #15273F;
    border-radius: 5px;
    margin: 200px auto;
    padding: 20px;
}

#cube-image{
    display: inline-block;
    position: relative;
}

#cube-image img{
    height: 60%;
    width: 100%;
    border-radius: 5px;
}

.view-icon{
    opacity: 0;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.view-icon:hover{
    
    opacity: 0.7;
    background-color: #22aab7;
    cursor: pointer;
}

/* info */
.nft-name{
    color: white;
    margin-top: 20px;
}

.description{
    font-size: 20px;
    color: #7086A4;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ethereum-icon, .clock-icon{
    height: 15px;
    width: 10px;
    margin: 0;
    margin-right: 5px;
    padding: 0;
}

.pricetag{
    float: left;
    margin: 5px;
    color: #06BFC1;
    align-items: top;
}

.time-left{
    float: right;
    margin: 5px;
    color: #8BACD9;
}

.created {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
    color: #7086A4;
}

.avatar{
    height: 30px;
    width: 30px;
    border: 2px solid grey;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.creator{
    color: white;
}

hr{
    background-color: #2E4058;
}