body{
    background-color: #f4f4f4;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6em;
}

a{
    text-decoration: none;
    color: #000;
}

a:visited{
    color: #ef1111;
}

a:hover{
    color: #477be4;
    text-decoration: underline;
}

.container{
    width: 80%;
    margin: auto;
}

.box-1{
    background-color: #333;
    color: #fff;
    border: 5px #4c31ad solid;
    padding: 20px;
    margin: 20px 0;
}

.box-1 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
}

.box-2{
    border: 3px red dotted;
    padding:20px;
    margin: 20px 0;
}

.categories{
    border: 1px rgb(174, 89, 163) dotted;
    padding:20px;
    margin: 20px 0;
    border-radius: 15px;
}

.categories h2{
    text-align: center;
}

.categories ul{
    padding:0;
    list-style: none;
}

.categories li{
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
}

.my-form{
    padding: 20px;
    margin: 20px 0;
    border: #ef1111;
    /* background-color: #a1bcf4; */
    background-image: url(https://picsum.photos/seed/picsum/2100/2100);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #000c10;
}

.my-form .form-group{
    padding-bottom: 15px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
    opacity: .6;
}

.button{
    background-color: #333;
    color:#fff;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background-color: rgb(3, 161, 3);
}

.block{
    float: left;
    width: 33.3%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
}

#main-block{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px 0;
}

#sidebar{
    float: right;
    width: 30%;
    border: 1px solid #371717;
    background-color: #000;
    color: #ccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 20px 0;
}

.linkedin{
    position: fixed;
    top: 400px;
    left: 0;
    height: 30px;
    width: 20px;
    background-color: none;
    background-image: url("linkedinIcon.svg");
}

#navbar{
    position: sticky;
    top: 0;
    background-color: #371717;
    color: #4c31ad;
    padding: 0;
    margin-bottom: 20px;
}

#navbar ul{
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
    padding-right: 15px;
}
